body {
  background-color: var(--accent-color);
  color: var(--primary-color);
  min-width: 100%;
}

header {
  width: min(110ch, 100% - 4rem);
  margin-inline: auto;
  padding-block-start: 2rem;
  height: 100%;
  top: 0;

  svg {
    fill: var(--primary-color);
    background-color: var(--accent-color);
    max-inline-size: 15ch;
    padding: 0.5em;
  }
}

main {
  width: min(90ch, 100% - 4rem);
  margin-inline: auto;
  text-align: center;

  h1 {
    text-align: center;
    margin-block: 5rem;
  }

  h2 {
    margin-block-end: 1rem;
  }

  div {
    display: grid;
    gap: 1rem;
  }

  picture {
    margin-block-start: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }

  img {
    width: 100%;
    aspect-ratio: 4 / 5;
    object-fit: cover;
  }
}
