body {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  min-width: 100%;
}

header {
  width: min(110ch, 100% - 4rem);
  margin-inline: auto;
  padding-block-start: 2rem;
  height: 100%;
  top: 0;

  svg {
    fill: var(--primary-color);
    background-color: var(--secondary-color);
    max-inline-size: 15ch;
    padding: 0.5em;
  }
}

main {
  width: min(70ch, 100% - 4rem);
  margin-inline: auto;

  h1 {
    text-align: center;
    margin-block: 5rem;
  }
}

li {
  margin-block-end: 4rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;

  picture {
    display: flex;
    place-items: center center;
  }

  img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    span {
      display: flex;
      gap: 1rem;

      place-items: space-between;
    }
  }
}
