:root {
  --primary-color: #840000;
  --secondary-color: #dff5fc;
  --tertiary-color: #faf6ae;
  --accent-color: #f4dcff;

  font-family: system-ui;
}

body {
  width: min(140ch, 100% - 4rem);
  margin-inline: auto;

  line-height: 1.7;

  text-wrap: balance;
}

main {
  margin-block-end: 5rem;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  line-height: 1.2;
}

a {
  color: inherit;
}

nav {
  display: grid;
  place-content: center;
  margin-block-end: 8rem;

  .internal-links {
    display: flex;
    gap: 3rem;
  }
}

footer {
  display: grid;
  gap: 1rem;
  place-content: center;
  text-align: center;
  margin-block: 3rem;
  color: inherit;

  .funding {
    display: flex;
    gap: 1rem;
  }
}