:root {
  --primary-color: #840000;
  --secondary-color: #d5edf1;
  --tertiary-color: #faf6ae;
  --accent-color: #f4dcff;
}

@font-face {
  font-family: 'apercu';
  src: url(Assets/apercu-mono-regular.woff2) format('woff2');
}

body {
  font-family: 'apercu';
  width: min(120ch, 100% - 4rem);
  margin-inline: auto;

  line-height: 1.7;

  text-wrap: balance;
}

main {
  margin-block-end: 5rem;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  line-height: 1.2;
}

a {
  color: inherit;
}

nav {
  display: grid;
  place-content: center;
  margin-block-end: 8rem;

  .internal-links {
    display: flex;
    gap: 5rem;
  }
}

footer {
  display: grid;
  gap: 1rem;
  place-content: center;
  text-align: center;
  margin-block-start: 3rem;
  color: inherit;
  padding-block: 5rem;

  .funding {
    display: flex;
    gap: 1rem;
  }
}
