header {
  block-size: 90dvh;
  display: grid;
  grid-template-rows: 5rem minmax(100px, 400px) minmax(100px, 400px) 1fr;
place-items: center;

}

svg {
    z-index: 10;
      max-block-size: 100%;

    grid-row: 2;
}

img {
  max-block-size: 100%;
  grid-row: 3;
  display: grid;
  place-self: end;
}
