/* Rondo colors */
:root {
  --rondo-primary: #840000;
  --rondo-secondary: #dff5fc;
  --rondo-accent: #faf6ae;

  background-color: var(--rondo-accent);
  color: var(--rondo-primary);

  font-family: sans-serif;

  /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  a {
    color: var(--rondo-primary);
  }
}

body {
  width: min(90dvw, 100% - 4rem);
  margin-inline: auto;
}

.letters {
  fill: var(--rondo-primary);
}

.top-section {
  height: 90dvh;
  display: grid;
  grid-template-columns: minmax(0, 1fr) 1fr;
  gap: 1rem;
}

header {
  display: grid;
  place-content: center;
}

nav {
  display: grid;
  place-content: center;
}

footer {
  display: grid;
  place-content: center;
}
